* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: white;
  padding: 20px 80px 0px 80px;
}

.navbar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}

.navbar .logoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoBox .hypercity {
  width: 150px;
}

.logoBox .Clogo {
  width: 30px;
}

.navbar .searchBar {
  width: 50%;
  height: 50px;
  border: 1px solid #a3adbb;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar .searchInput {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 0px 23px;
  outline: none;
  border: none;
  font-size: 14px;
}

.searchBar button {
  background: #f7d117;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 60px;
  height: 50px;
  border: 1px solid #a3adbb;
  outline: none;
  cursor: pointer;
}

.navbar .navSection {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  gap: 33px;
}

.navSection .loginBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.navSection .cartBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 43px;
  margin-bottom: 70px;
}

.hero-section .hero-feed {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 70%;
}

.hero-feed img {
  width: 100%;
}

.hero-section .hero-info {
  width: 100%;
  border-radius: 32px;
  background: #fefae8;
  padding: 24px 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-info .info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  line-height: 26px;
}

.info-box img {
  width: 32px;
}

.category-layout {
  width: 305px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.category-layout .category-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.category-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.each-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
  padding-bottom: 14px;
  border-bottom: 1px solid #D9D9D9;
}

.each-category:hover {
  color: #debc15;
  font: bold;
}
